a:where(.css-dev-only-do-not-override-k83k30).ant-typography,
:where(.css-dev-only-do-not-override-k83k30).ant-typography a .navbar-link {
    color: black;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: color 0.3s;
}